@tailwind base;
@tailwind components;
@tailwind utilities;

.max-w-full-12 {
  max-width: calc(100vw - 192px);
}

.max-w-full-24 {
  max-width: calc(100vw - 384px);
}
.set-area input {
  @apply bg-blue-50;
}

.pointer-events-none-j * {
  pointer-events: none;
  user-select: none;
}

.left-point::before {
  content: "â— ";
  width: 10px;
  height: 10px;
}

.bg-b-2-w {
  background: linear-gradient(to right, #334155, #404f64, #ffffff);
}

.editor-area * {
  background-color: black;
  color: white;
}

.mdxeditor,
.mdxeditor-root-contenteditable,
.mdxeditor-root-contenteditable > div,
.mdxeditor-root-contenteditable > div > div {
  height: 100%;
}

.mdxeditor h1 {
  @apply text-3xl;
}
